<p class="h1">Comptes clients</p>
<br>
<div class="row">
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('marionnette.jpeg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Particuliers</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', home_account_particulier_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('apple.jpg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Entreprise</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('phonr.jpg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Ecommerce</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('phonr.jpg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Ecommerce</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>