<<<<<<< HEAD
<div class="jumbotron">
  <h1 class="display-4">Bonjour Mr <%= current_agent.name %></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
=======
<h1>Retrait d'argent</h1>
<p>Find me in app/views/home/index.html.erb</p>

>>>>>>> 555859967755fde0b5f7a18e76767395a41bbce1
<div class="row">
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('marionnette.jpeg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Particuliers</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', home_account_particulier_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('apple.jpg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Entreprise</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('phonr.jpg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Ecommerce</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card" style="width: 15rem;">
      <%= image_tag('phonr.jpg', class: 'card-img-top', alt: 'card image cap') %>
      <div class="card-body">
        <h5 class="card-title">Ecommerce</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>