
<div class="card">
  <div class="card-header border-0">
    <h3 class="card-title">COMPTES UTILISATEURS NON AUTHENTIFIÉS (<%= @users.count < 10 ? "0#{@users.count}" : @users.count %>)</h3>
    <div class="card-tools">
      <a href="#" class="btn btn-tool btn-sm">
        <i class="fas fa-download"></i>
      </a>
      <a href="#" class="btn btn-tool btn-sm">
        <i class="fas fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped table-valign-middle" id="table">
      <thead>
      <tr>
        <th>#</th>
        <th>CREATED</th>
        <th>ACCOUNT</th>
        <th>ACCOUNT NAME</th>
        <th>PHONE</th>
        <th>COUNTRY</th>
        <th>JOURNAL</th>
        <th>DATE SUSPENSION</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |users| %>
        <tr>
          <td width="5%">
            <input type="checkbox" name="vehicle" value="Bike">
          </td>
          <td><%= users.created_at.strftime("%d-%m-%Y, %Hh:%M") %></td>
          <td><%= link_to users.code, nil %></td>
          <td>
            <%= users.complete_name %>
            <% if users.created_at.today? %>
              <span class='badge badge-info rightusers_show_path'>New</span>
            <% end %>
          </td>
          <td>
            <%= users.phone %>
          </td>
          <td>
            <%= users.pays.nil? ? "Inconnu" : users.pays %>
          </td>
          <td>
            <%= (users.created_at + 30.day).strftime("%d-%h-%Y, %Hh:%M") %>
          </td>
          <td>
            <% if (users.created_at + 30.day) <= DateTime.now %>
              <%= link_to "Compte suspendu", "/admin/users/user/#{users.authentication_token}", class: "text-mutted btn btn-sm btn-outline-danger" %>
            <% else %>
              <%= link_to "Compte actif", "/admin/users/user/#{users.authentication_token}", class: "text-mutted btn btn-sm btn-outline-primary" %>
            <% end %>
          </td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>

<script>
    $(document).ready(function () {
        var table = $("#table").DataTable();
        $("#table-1").DataTable();

        $('#table tbody').on('mouseenter', 'td', function () {
            var colIdx = table.cell(this).index().column;

            $( table.cells().nodes() ).removeClass( 'highlight' );
            $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
        });
    });
</script>