
  <h1 class="title">Transactions web details</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="text-left">Action</th>
        <td><%= @data.flag%></td>
      </tr>
      <tr>
        <th scope="row">Client (vous)</th>
        <td><%= Customer.find(@data.customer_id).complete_name %></td>
      </tr>
      <tr>
        <th scope="row">Montant</th>
        <td><%= @data.amount.round(2)%></td>
      </tr>
      <tr>
        <th scope="row">Code</th>
        <td><%= @data.code%></td>
      </tr>
      <tr>
        <th scope="row">Date</th>
        <td><%= @data.created_at %></td>
      </tr>
      <tr>
          <th>Région</th>
          <td>
              <%= @data.region %>
          </td>
      </tr>
    </tbody>
  </table>
  <br>
  <%= map(:center => {
    :latlng => [@data.lat, data.long],
    :zoom => 18
  },
  :markers => [
     {
       :latlng => [@data.lat, @data.long],
       :popup => "Lieu Transaction"
     }
  ]) %>
  <br>