<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MY PAYMEQUICK | Se connecter</title>
  <%= csrf_meta_tags %>

  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
  <!-- Theme style -->
  <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>MON PAYME</b>QUICK</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-form mb-3">
          <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: "Adresse email", class: "form-control" }, 
                label: false %>
        </div>
        <div class="input-form mb-3">
          <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", placeholder: "Mot de passe", class: "form-control" }, 
                label: false %>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <%= f.button :submit, "Connexion", class: "btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

      <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Se connecter avec Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Se connecter avec Google+
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <%= render "customers/shared/links" %>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="https://adminlte.io/themes/dev/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://adminlte.io/themes/dev/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="https://adminlte.io/themes/dev/AdminLTE/dist/js/adminlte.js"></script>

</body>
</html>
