<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <%# <i class="fas fa-laugh-wink"></i> %>

    </div>
    <%# <div class="sidebar-brand-text mx-3">POP CASH</div> %>
    <%= image_tag("product_logo.png") %>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-cog"></i>
      <span>Parametres</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Agences | Guichets
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Gestion des agences</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" href="cards.html">Cards</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Gestion du personnel</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Utilities:</h6>
        <%= link_to 'Types de clients', types_path, class: "collapse-item" %>
        <%= link_to 'Liste de client', agentcrtl_index_path, class: "collapse-item" %>
        <%= link_to 'Créditer compte client', agentcrtl_index_path, class: "collapse-item" %>
        <%= link_to "Retrait d'argent", agentcrtl_index_path, class: "collapse-item" %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Transaction | historique
  </div>


  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Bases</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Login Screens:</h6>
        <%= link_to 'Gestion des Services', services_path, class: "collapse-item" %>
        <%= link_to 'Gestion des Categories', cats_path, class: "collapse-item" %>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="404.html">404 Page</a>
        <a class="collapse-item" href="blank.html">Blank Page</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Tous les utilisateurs -->
  <li class="nav-item">
    <%= link_to agentcrtl_customer_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-users"></i>
      <span>Tous les utilisateurs</span>
    <% end %>
  </li>

  <!-- Nav Item - Tous les utilisateurs -->
  <li class="nav-item">
    <%= link_to agentcrtl_customer_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-users"></i>
      <span>Rappro. bancaire</span>
    <% end %>
  </li>

  <!-- Nav Item - Journal des transactions -->
  <li class="nav-item">
    <%= link_to '#', class: 'nav-link' do %>
      <i class="fas fa-fw fa-receipt"></i>
      <span>Journal des transactions</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Statistiques et graphes
  </div>

  <!-- Nav Item - Crediter compte client -->
  <li class="nav-item">
    <%= link_to agentcrtl_new_customer_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-plus"></i>
      <span>Ajouter un client</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Gestion des comptes
  </div>

  <!-- Nav Item - Crediter compte client -->
  <li class="nav-item">
    <%= link_to agentcrtl_credit_customer_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-plus"></i>
      <span>Crediter compte client</span>
    <% end %>
  </li>

  <!-- Nav Item - Decaisser compte client agentcrtl/customer -->
  <li class="nav-item">
    <%= link_to agentcrtl_debit_customer_account_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-user-minus"></i>
      <span>Debiter compte client</span>
    <% end %>
  </li>

  <!-- Nav Item - Généerer un QRcode -->
  <li class="nav-item">
    <%= link_to agentcrtl_create_qrcode_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-qrcode"></i>
      <span>Generer QR code</span>
    <% end %>
  </li>

  <!-- Nav Item - Decaisser compte client agentcrtl/customer -->
  <li class="nav-item">
    <%= link_to '#', class: 'nav-link' do %>
      <i class="fas fa-fw fa-users-cog"></i>
      <span>Configuration Client</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Statistiques et analyses
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>

  <!-- Nav Item - Journal d'activté -->
  <li class="nav-item">
    <%= link_to agentcrtl_journal_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Journal</span>
    <% end %>

  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Utilisateur - Partenaires
  </div>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>

  <!-- Heading -->
  <div class="sidebar-heading">
    Parametres
  </div>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <%= link_to parametres_index_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-table"></i>
      <span>Parametres</span>
    <% end %>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <%= link_to root_path, class: 'nav-link' do %>
      <i class="fas fa-fw fa-table"></i>
      <span>Retour à l'acceuil</span>
    <% end %>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->